<div class="footer">
  <div class="container d-flex justify-content-between">
    <div class="footer-emoji">
      <a href="https://github.com/esa"><i class="fab fa-github"></i></a>
      <a href="https://www.instagram.com/europeanspaceagency/?hl=fr"><i class="fab fa-instagram"></i></a>
      <a href="https://www.facebook.com/EuropeanSpaceAgency/?locale=fr_FR"><i class="fab fa-facebook"></i></a>
      <a href="https://twitter.com/ESA_fr"><i class="fab fa-twitter"></i></a>
      <a href="https://fr.linkedin.com/company/european-space-agency"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-links">
      <a href="https://www.esa.int/Space_in_Member_States/France/L_Europe_a_du_talent_et_l_ESA_en_a_besoin">On recrute !</a>
    </div>
    <div class="footer-copyright">
      This footer is made with <i class="fas fa-heart"></i> from space
    </div>
  </div>
</div>
