<h1>SpaceBnB</h1>
<h2>Conquérir l’espace n’a jamais été aussi facile.</h2>
<% @planets.each do |planet| %>
  <p><%= link_to planet.name, planet_path(planet) %></p>
<% end %>

<%= link_to 'Nouvelle planète', new_planet_path %>
