
<h1>SpaceBnB</h1>
<h2>Conquérir l’espace n’a jamais été aussi facile.</h2>
<div class="cards">
  <% @planets.each do |planet| %>
    <div class="card-planet">
      <p><%= link_to planet.name, planet_path(planet) %></p>
      <%=image_tag planet.photo, height: 400, width: 400, crop: :fit %>
    </div>
  <% end %>
</div>
