.btn-ghost {
  color: $light-gray;
  border: 1px solid $light-gray;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0,6;
  transition: opacity 0.3s ease;
  text-align: center;
}

.btn-ghost:hover {
  opacity: 1;
}

.clean_link{
  text-decoration: none;
  color: $light-gray;
  justify-content: center;
}
