.btn-ghost {
  color: $light-gray;
  border: 1px solid $light-gray;
  padding: 8px 24px;
  border-radius: $border-radius-lg;
  font-weight: lighter;
  opacity: 0,6;
  transition: opacity 0.3s ease;
  text-align: center;
}

.btn-ghost:hover {
  border: 1px solid $green;
  color: $green;
}

.text-hover-green {
  color: $light-gray;
  transition: opacity 0.3s ease;
}

.text-hover-green:hover {
  color: $green;
}
