.card_planet{
  border: 1px solid black;
  border-radius: 20px;
  justify-content: center;
  position: relative;
  height: 500px;
}

.show_card_planet {
  border: 1px solid black;
  border-radius: 20px;
  justify-content: center;
  position: relative;
  height: 550px;
}

.card-info {
  padding: 10px;
}

.btn-gradient-1 {
  border-width: 4px;
  border-style: solid;
  border-image: linear-gradient(to bottom, grey, white) 1;
}

.price {
  position: absolute;
  right: 16px;
  bottom: 0;
  color: white;
}

.price-show {
  position: absolute;
  right: 16px;
  bottom: 15%;
  color: white;
}

.image_top_card {
  background-size: contain;
  object-fit: cover;
  height: 400px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.show_image_top_card {
  background-size: contain;
  object-fit: contain;
  height: 400px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.default_photo {
  background-size: contain;
  object-fit: cover;
  height: 400px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  border-radius: 15px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
  color: black;
}

.planet-name {
  text-decoration: none;
  color: white;
}

.planet-name:hover {
  color: $green;
}

.planet-description {
  color: white;
}

.planet-location {
  color: white;
}

.card-reservation {
  overflow: hidden;
  font-size: larger;
  height: 230px;
  background: transparent;
  border-width: 4px;
  border-style: solid;
  border-image: linear-gradient(to bottom, grey, white) 1;
  display: flex;
  object-fit: cover;
}

.card-reservation-mine {
  overflow: hidden;
  font-size: larger;
  height: 250px;
  background: transparent;
  border-width: 4px;
  border-style: solid;
  border-image: linear-gradient(to bottom, grey, white) 1;
  display: flex;
}

.photo-size {
  width: 400px;
}

.image_tag_reservation {
  height: 100%;
}

.card-reservation h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-reservation p {
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 10px;
  margin-top: 8px;
}

.card-reservation-infos p {
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 10px;
  margin-top: 8px;
}

.card-reservation .card-reservation-infos {
  padding: 16px;
}

.card-commentaires {
  overflow: hidden;
  font-size: larger;
  background: transparent;
  border-width: 4px;
  border-style: solid;
  border-image: linear-gradient(to bottom, grey, white) 1;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
