.navbar-lewagon {
  justify-content: space-between;
  background: white;
  display: flex;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.new_offer {
  color: #4c4c4c;
  text-decoration: none;
}
