<h1>Ajoutez un commentaire</h1>


<%= simple_form_for [@planet, @review] do |f| %>
  <%= f.input :rating, collection: 0..5 %>
  <%= f.input :content %>
  <%= f.submit "Publier", class: "btn btn-light" %>
<% end %>
